<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cryptos</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/cryptos.css'/>
</head>
<body>

<form id="form">
    <div id="container" class="container">
        <div w3-include-html="/html/fr/header.html"></div>
        <div class="message">
            <span id="message">Chargement des cryptos en cours...</span>
        </div>
        <div class="filter available-cryptos-container">
            <input class="input" type="text" id="criteria" placeholder="Filtre">
            <button type="button" class="button button-filter" onclick="doFilter('all');">Filtrer sur tout</button>
            <button type="button" class="button button-filter" onclick="doFilter('symbol');">Filtrer sur le symbole
            </button>
            <button type="button" class="button button-filter" onclick="resetFilter();">Supprimer le filtre
            </button>
        </div>
        <div class="subcontainer">
            <div id="myCryptos">
                <div class="title-table"><span>Mes cryptos</span></div>
                <table id="myCryptosTable" class="styled-table">
                    <thead>
                    <th></th>
                    <th></th>
                    <th>Id</th>
                    <th>Symbole</th>
                    <th>Nom</th>
                    <th></th>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="button-box">
                    <input class="button" type="button" onclick="changeButtonList(this);return false;"
                           name="buttonList" id="buttonList" value="Afficher les cryptos dispo">
                    <input class="button" type="button" onclick="showNotListed(this);return false;"
                           name="buttonNotListed" id="buttonNotListed" value="Ajouter une crypto pas encore listée">
                </div>
                <div id="icoCryptos" class="ico-crypto-container">
                    <table class="ico-table">
                        <tbody>
                        <tr>
                            <td><span class="ico-label">Symbole</span></td>
                            <td><input name="symbol" id="symbol"></td>
                        </tr>
                        <tr>
                            <td><span class="ico-label">Nom (temporaire)</span></td>
                            <td><input name="name" id="name"></td>
                        </tr>
                        <tr>
                            <td><span class="ico-label">Réseau</span></td>
                            <td>
                                <select name="network" id="network">
                                    <option value="">Choisir</option>
                                    <% networks.forEach( function (network) { %>
                                        <option value="<%= network.id %>">
                                            <%= network.name %>
                                        </option>
                                    <% }); %>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="ico-label">Adresse du token</span></td>
                            <td><input name="address" id="address" class="address"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="button-box">
                        <input class="button" type="button" onclick="cancelIco(this);return false;"
                               name="cancelIcoButton" id="cancelIcoButton" value="Annuler">
                        <input class="button" type="button" onclick="addNotListed(this);return false;"
                               name="buttonAddNotListed" id="buttonAddNotListed" value="Ajouter">
                    </div>

                </div>
            </div>
            <div id="availableCryptos" class="bloc available-cryptos-container">
                <div class="title-table"><span>Cryptos disponibles</span></div>
                <div class="bloc">
                    <table id="availableCryptosTable" class="styled-table ctable">
                        <thead>
                        <th></th>
                        <th>Id</th>
                        <th>Symbole</th>
                        <th>Nom</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</form>

<script src="/javascripts/cryptos.js"></script>

<script>

    let titleMinusAdd = "Supprimer de mes cryptos";
    let titleAvailableAdd = "Ajouter à mes cryptos";
    let titleButtonShow = "Afficher les cryptos dispo";
    let titleButtonHide = "Cacher les cryptos dispo";
    let wordAdd = "ajoutée"
    let wordDel = "supprimée"
    let errorAdd = "Erreur. L'item n'existe pas dans availableCryptos"
    let errorDel = "Erreur. Item existe déjà dans availableCryptos"
    let msgFieldsRequired = "Symbole et nom sont requis";

    $(() => {
        init()
    })
</script>
</body>
</html>