<!DOCTYPE html>

<html lang="fr">
<head>
    <title>Liste des transactions</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/all.min.css'/>
    <link rel='stylesheet' href='/stylesheets/follow-transactions.css'/>
</head>

<body>

<form>

    <div class="container">

        <div w3-include-html="/html/fr/header.html"></div>

        <div class="fields">
            <label for="token">Token</label>
            <select class="field" type="text" name="token" id="token">
                <option value="">Tous</option>
            </select>
            <label for="wallet">Wallet</label>
            <select class="field" type="text" name="wallet" id="wallet">
                <option value="">Tous</option>
            </select>
            <div class="button-box title">
                <input class="button" type="button" name="reset" id="reset" value="Reset">
            </div>
        </div>

        <table id="transactions" class="styled-table">
            <thead>
            <th style="display:none"></th>
            <th id="headerCol" class="title-left clickable">Transactions</th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</form>

</body>

<script src="/javascripts/follow-transactions.js"></script>

<script type="text/javascript">

    let returnedSortDirection = "<%= sortDirection %>";
    let returnedToken = "<%= token %>";
    let returnedWallet = "<%= wallet %>";
    let titleFill1 = "Supprimer cette transaction";
    let titleFill2 = "Modifier cette transaction";
    let titleFill3 = "Afficher dans la blockchain";
    let delTranMsg = "Confirmer la suppression de la transaction";

    $(() => {
        init()
    });

</script>

</html>

