<!DOCTYPE html>
<html>
<head>
    <title>CRYPTOS</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>

        .container {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

     </style>
</head>
<body>

<div class="container">
    <div w3-include-html="/html/fr/header.html"></div>
</div>

<script>
    includeHTML("index");
</script>
</body>
</html>
