<!DOCTYPE html>

<html lang="fr">
<head>
    <title>Evolution</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/all.min.css'/>
    <link rel='stylesheet' href='/stylesheets/survey.css'/>
</head>

<body>

<div class="container">

    <div w3-include-html="/html/fr/header.html"></div>

    <div class="sub-container evolution">
        <div class="title">
            <span class="title-text" id="date"></span>
        </div>

        <table id="cryptos" class="styled-table">
            <thead>
            <th class="title-left clickable" onclick="sortTable('id')">Id</th>
            <th class="title-left clickable" onclick="sortTable('symbol')">Symbole</th>
            <th class="title-left clickable" onclick="sortTable('name')">Nom</th>
            <th class="num clickable" onclick="sortTable('quotation\n')">Cours <%= fiat_symbol %></th>
            <th class="num clickable" onclick="sortTable('quotation_usdt\n')">Cours USDT</th>
            <th class="clickable" onclick="sortTable('variation_on_five_minutes')">Evol./5mn</th>
            <th class="clickable" onclick="sortTable('variation_on_one_hour')">Evol./1H</th>
            <th class="clickable" onclick="sortTable('variation_on_one_day')">Evol./24H</th>
            <th class="clickable" onclick="sortTable('variation_on_one_week')">Evol./sem</th>
            <th class="clickable generalAlert"></th>
            <th class="clickable" title="Ajouter des cryptos à surveiller"><span onclick="addCrypto()">+</span></th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="sub-container cont-border alerts">
        <div class="title-alerts one_token">Alerte pour le token <span id="alert_token"></span></div>
        <div class="title-alerts all_token">Alerte pour tous les tokens</div>
        <div class="text">
            <span>Envoyer une alerte si la variation du prix du token :</span>
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_5mn">% ou a perdu<input
                    class="percent" type="number" id="alert_lt_5mn">% en 5 minutes.
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_1h">% ou a perdu<input
                    class="percent" type="number" id="alert_lt_1h">% en 1 heure.
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_24h">% ou a perdu <input
                    class="percent" type="number" id="alert_lt_24h">% en 1 jour.
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_1w">% ou a perdu <input
                    class="percent" type="number" id="alert_lt_1w">% en 1 semaine.
        </div>
        <div class="text-mini">
            <span><i>Laisser à blanc les champs à ne pas prendre en compte</i></span>
        </div>
        <div class="button-bloc">
            <div>
                <input type="button" class="button" id="alertDel" onclick="delAlert();return false;" value="Supprimer">
            </div>
            <div>
                <input type="button" class="button" id="alertCancel" onclick="cancelAlert();return false;"
                       value="Annuler">
            </div>
            <div>
                <input type="button" class="button" id="alertAdd" onclick="addOrUpdateAlert();return false;"
                       value="Enregistrer">
            </div>
        </div>
        <div class="text-mini">
            Une alerte sur un token particulier prévaut sur une alerte globale.
        </div>
    </div>

    <div class="container cryptos">
        <div class="message">
            <span id="message">Chargement des cryptos en cours...</span>
        </div>
        <div class="filter cond">
            <input class="input-filter" type="text" id="criteria" placeholder="Filtre">
            <button type="button" class="button button-filter" onclick="doFilter('all');">Filtrer sur tout</button>
            <button type="button" class="button button-filter" onclick="doFilter('symbol');">Filtrer sur le symbole
            </button>
            <button type="button" class="button button-filter" onclick="resetFilter();">Supprimer le filtre
            </button>
            <button type="button" class="button button-filter" onclick="closeCryptos();">Fermer</button>
        </div>
        <div class="subcontainer">
            <div id="availableCryptos" class="bloc cond">
                <div class="title-table"><span>Sélection des nouvelles cryptos à surveiller</span></div>
                <div class="bloc">
                    <table id="availableCryptosTable" class="styled-table ctable">
                        <thead>
                        <th>Id</th>
                        <th>Symbole</th>
                        <th>Nom</th>
                        <th></th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/javascripts/survey.js"></script>

<script type="text/javascript">

    let ds = "<%= decimal_separator %>";
    let refresh = "<%= refresh %>";
    let titleGenAlert = "Voir ou changer l'alerte globale";
    let titleBuildAlert1 = "Voir ou changer l'alerte sur";
    let titleBuildAlert2 = "Mettre une alerte sur";
    let msgFill = "En attente de valorisation par crypto-updater";
    let titleFill = "Enlever de la surveillance";
    let msgAddAvailable = "Surveiller cette crypto";
    let wordSurvey = "surveillée";

    let setDate = () => {
        document.getElementById('date').innerHTML = getFormattedDate('fr-FR');
    }

    $(() => {
        init()
    })
</script>

</html>

