<!DOCTYPE html>

<html lang="fr">
<head>
    <title>Evolution</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/all.min.css'/>
    <style>

        .container {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

        .sub-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            min-width: 600px;
        }

        .num {
            text-align: right;
        }

        .rate {
            text-align: center;
        }

        .title-left {
            text-align: left
        }

        * {
            font-family: Helvetica, sans-serif;
        }

        .title-data {
            font-size: 18px;
            font-weight: bold;
        }

        .title-text {
            font-size: 18px;
        }

        .title, .title-alerts {
            flex: 1;
            font-size: 24px;
        }

        .title-alerts {
            color: cadetblue;
            margin-top: 10px;
        }

        .up {
            color: #2d9112;
        }

        .down {
            color: red;
        }

        .icon {
            height: 25px
        }

        .sizeup {
            font-size: 14px;
            cursor: pointer;
        }

        .sizedown {
            font-size: 10px;
            cursor: pointer;
        }

        .input {
            padding: 10px 10px;
            background-color: cadetblue;
            margin: 10px 10px;
            border-radius: 10px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: left;
            justify-items: center;
            width: 600px;
        }

        .alerts {
            flex-flow: column;
            color: black;
        }

        .alert {
            color: green;
        }

        .percent {
            width: 60px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .text, .text-mini {
            color: cadetblue;
        }

        .text-mini {
            font-style: italic;
            font-weight: lighter;
            font-size: 14px;
            margin-left: 15px;
            margin-right: 15px;
        }

        .cont-border {
            border-radius: 10px;
            border: 1px solid cadetblue;
            max-width: 800px;
        }

        .button-bloc {
            display: flex;
            flex-direction: row;
        }

        .button {
            margin: 10px;
        }

        .filter {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            align-items: center;
        }

        .button-filter {
            margin-top: 0;
            margin-right: 30px;
        }

        .message {
            display: flex;
            margin: 10px 10px;
            color: black;
        }

        .title-table {
            display: flex;
            justify-content: center;
            margin: 5px 5px;
        }

        .input-filter {
            border-radius: 10px;
            display: flex;
            margin-right: 30px;
            height: 30px;
        }

        .action {
            cursor: pointer;
        }

    </style>
</head>

<body>

<div class="container">

    <div w3-include-html="/html/fr/header.html"></div>

    <div class="sub-container evolution">
        <div class="title">
            <span class="title-text" id="date"></span>
        </div>

        <table id="cryptos" class="styled-table">
            <thead>
            <th class="title-left clickable" onclick="sortTable('id')">Id</th>
            <th class="title-left clickable" onclick="sortTable('symbol')">Symbole</th>
            <th class="title-left clickable" onclick="sortTable('name')">Nom</th>
            <th class="num clickable" onclick="sortTable('quotation\n')">Cours <%= fiat_symbol %></th>
            <th class="num clickable" onclick="sortTable('quotation_usdt\n')">Cours USDT</th>
            <th class="clickable" onclick="sortTable('variation_on_five_minutes')">Evol./5mn</th>
            <th class="clickable" onclick="sortTable('variation_on_one_hour')">Evol./1H</th>
            <th class="clickable" onclick="sortTable('variation_on_one_day')">Evol./24H</th>
            <th class="clickable" onclick="sortTable('variation_on_one_week')">Evol./sem</th>
            <th class="clickable generalAlert"></th>
            <th class="clickable"><span onclick="addCrypto()">+</span></th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="sub-container cont-border alerts">
        <div class="title-alerts one_token">Alerte pour le token <span id="alert_token"></span></div>
        <div class="title-alerts all_token">Alerte pour tous les tokens</div>
        <div class="text">
            <span>Envoyer une alerte si la variation du prix du token :</span>
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_5mn">% ou a perdu<input
                    class="percent" type="number" id="alert_lt_5mn">% en 5 minutes.
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_1h">% ou a perdu<input
                    class="percent" type="number" id="alert_lt_1h">% en 1 heure.
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_24h">% ou a perdu <input
                    class="percent" type="number" id="alert_lt_24h">% en 1 jour.
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_1w">% ou a perdu <input
                    class="percent" type="number" id="alert_lt_1w">% en 1 semaine.
        </div>
        <div class="text-mini">
            <span><i>Laisser à blanc les champs à ne pas prendre en compte</i></span>
        </div>
        <div class="button-bloc">
            <div>
                <input type="button" class="button" id="alertDel" onclick="delAlert();return false;" value="Supprimer">
            </div>
            <div>
                <input type="button" class="button" id="alertCancel" onclick="cancelAlert();return false;"
                       value="Annuler">
            </div>
            <div>
                <input type="button" class="button" id="alertAdd" onclick="addOrUpdateAlert();return false;"
                       value="Enregistrer">
            </div>
        </div>
        <div class="text-mini">
            Une alerte sur un token particulier prévaut sur une alerte globale.
        </div>
    </div>

    <div class="container cryptos">
        <div class="message">
            <span id="message">Chargement des cryptos en cours...</span>
        </div>
        <div class="filter cond">
            <input class="input-filter" type="text" id="criteria" placeholder="Filtre">
            <button type="button" class="button button-filter" onclick="doFilter('all');">Filtrer sur tout</button>
            <button type="button" class="button button-filter" onclick="doFilter('symbol');">Filtrer sur le symbole
            </button>
            <button type="button" class="button button-filter" onclick="resetFilter();">Supprimer le filtre
            </button>
        </div>
        <div class="subcontainer">
            <div id="availableCryptos" class="bloc cond">
                <div class="title-table"><span>Sélection d'une nouvelle crypto à surveiller</span></div>
                <div class="bloc">
                    <table id="availableCryptosTable" class="styled-table ctable">
                        <thead>
                        <th>Id</th>
                        <th>Symbole</th>
                        <th>Nom</th>
                        <th></th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">

    //
    // ALERTS
    //
    let globalAlert = false;
    let globalAlertValue;
    let allAlerts = [];
    let tokenAlert = "";

    let showAllTokenAlertTitle = () => {
        $('.all_token').show();
        $('.one_token').hide();
    }

    let showOneTokenAlertTitle = () => {
        $('.all_token').hide();
        $('.one_token').show();
    }

    let initAlertsVariables = () => {
        $('#alert_gt_5mn').val('');
        $('#alert_lt_5mn').val('');
        $('#alert_gt_1h').val('');
        $('#alert_lt_1h').val('');
        $('#alert_gt_24h').val('');
        $('#alert_lt_24h').val('');
        $('#alert_gt_1w').val('');
        $('#alert_lt_1w').val('');
    }

    let setAlertsVariables = (alertToken) => {
        $('#alert_gt_5mn').val(alertToken.gt5mn < 0 ? '' : alertToken.gt5mn);
        $('#alert_lt_5mn').val(alertToken.lt5mn < 0 ? '' : alertToken.lt5mn);
        $('#alert_gt_1h').val(alertToken.gt1h < 0 ? '' : alertToken.gt1h);
        $('#alert_lt_1h').val(alertToken.lt1h < 0 ? '' : alertToken.lt1h);
        $('#alert_gt_24h').val(alertToken.gt24h < 0 ? '' : alertToken.gt24h);
        $('#alert_lt_24h').val(alertToken.lt24h < 0 ? '' : alertToken.lt24h);
        $('#alert_gt_1w').val(alertToken.gt1w < 0 ? '' : alertToken.gt1w);
        $('#alert_lt_1w').val(alertToken.lt1w < 0 ? '' : alertToken.lt1w);
    }

    let showAlertPanel = () => {
        $('.alerts').show();
        $('.evolution').hide();
        $('.cryptos').hide();
    }

    let initAlerts = () => {
        showEvolutionPanel();
        tokenAlert = "";
        globalAlert = false;
        globalAlertValue;
        allAlerts = [];
    }

    // Called by icon click.
    let handleAlertPanel = (token) => {
        tokenAlert = token;
        showAlertPanel();
        $('#alertDel').hide();
        if (token === '_all_tokens_') {
            showAllTokenAlertTitle();
        } else {
            showOneTokenAlertTitle();
            $('#alert_token').text(token);
        }
        let alertToken = findAlertInArray(token);
        if (alertToken !== undefined) {
            setAlertsVariables(alertToken);
            if (token === '_all_tokens_') {
                $('#alertDel').hide();
            } else {
                $('#alertDel').show();
            }
        } else {
            initAlertsVariables();
            $('#alertDel').hide();
            if (allAlerts.length === 0) {
                $('#alertCancel').hide();
            }
        }
    }

    let findAlertInArray = (token) => {
        for (let i = 0; i < allAlerts.length; i++) {
            if (allAlerts[i].token === token) {
                return allAlerts[i];
            }
        }
    }

    let setAlerts = (alerts) => {
        allAlerts = alerts;
        globalAlertValue = findAlertInArray('_all_tokens_');
        globalAlert = globalAlertValue !== undefined;
    }

    let delAlert = () => {
        $.ajax(
            {
                url: `/api/alert-survey?token=${tokenAlert}`,
                method: "DELETE",
                dataType: "json",
                success: (data) => {
                    getDatas();
                    showEvolutionPanel();
                },
                error: (xhr, status, error) => {
                    console.log(error)
                }
            }
        )
    }

    let cancelAlert = () => {
        showEvolutionPanel();
    }

    let addOrUpdateAlert = () => {
        let json = {
            token: tokenAlert,
            gt5mn: $('#alert_gt_5mn').val() === '' ? -1.0 : parseFloat($('#alert_gt_5mn').val()),
            lt5mn: $('#alert_lt_5mn').val() === '' ? -1.0 : parseFloat($('#alert_lt_5mn').val()),
            gt1h: $('#alert_gt_1h').val() === '' ? -1.0 : parseFloat($('#alert_gt_1h').val()),
            lt1h: $('#alert_lt_1h').val() === '' ? -1.0 : parseFloat($('#alert_lt_1h').val()),
            gt24h: $('#alert_gt_24h').val() === '' ? -1.0 : parseFloat($('#alert_gt_24h').val()),
            lt24h: $('#alert_lt_24h').val() === '' ? -1.0 : parseFloat($('#alert_lt_24h').val()),
            gt1w: $('#alert_gt_1w').val() === '' ? -1.0 : parseFloat($('#alert_gt_1w').val()),
            lt1w: $('#alert_lt_1w').val() === '' ? -1.0 : parseFloat($('#alert_lt_1w').val())
        }
        console.log(JSON.stringify(json))
        $.ajax(
            {
                url: "/api/alert-survey",
                method: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: (data) => {
                    getDatas();
                    showEvolutionPanel();
                },
                error: (xhr, status, error) => {
                    console.log(error)
                }
            }
        )
    }

    let setGeneralAlertIconHtml = () => {
        let html = `<i class="fa-solid fa-bell alert clickable bell orange" onclick="handleAlertPanel('_all_tokens_')" ` +
            `title="Voir ou changer l'alerte globale"></i>`;
        $('.generalAlert').html(html);
        return html;
    }

    let buildAlertIconHtml = (token) => {
        let html;
        if (findAlertInArray(token) !== undefined) {
            html = `<i class="fa-solid fa-bell alert clickable bell orange" onclick="handleAlertPanel('${token}')" ` +
                `title="Voir ou changer l'alerte sur ${token}"></i>`;
        } else {
            html = `<i class="fa-solid fa-bell-slash alert clickable bell" onclick="handleAlertPanel('${token}')" ` +
                `title="Mettre une alerte sur ${token}"></i>`;
        }
        return html;
    }

    //
    // EVOLUTION
    //

    let lastSortField = "variation";
    let lastSortDirection = "D";
    let fontSize = 14;

    let showEvolutionPanel = () => {
        $('.alerts').hide();
        $('.evolution').show();
        $('.cryptos').hide();
    }

    let setDate = () => {
        document.getElementById('date').innerHTML = getFormattedDate('fr-FR');
    }

    let signRate = (rate) => {
        if (rate.indexOf("-") >= 0) {
            return '<span class="down">&searr;&nbsp;' + rate.substring(1).replace(".", ",") + ' %' + '</span>';
        } else {
            return '<span class="up">&nearr;&nbsp;' + rate.replace(".", ",") + ' %' + '</span>';
        }
    }

    let fill = (data) => {
        $('.alerts').hide();
        setAlerts(data.result.alerts);
        surveyCryptosList = data.result.tokens;
        if (allAlerts.length === 0) {
            // Require a global alert before working
            showAlertPanel();
            handleAlertPanel('_all_tokens_');
            return;
        }
        showEvolutionPanel();
        setGeneralAlertIconHtml();
        let tokens = data.result.tokens;
        $.each(tokens, (no) => {
            let coin = tokens[no];
            let html = `<tr><td>${coin.id}</td>` +
                `<td class="rate">${coin.symbol.toUpperCase()}</td><td>${coin.name}</td>`;
            if (coin.quotation !== undefined && coin.quotation !== '') {
                html += `<td class="num">${formatDelim(((coin.quotation * 100) / 100).toFixed(8))}</td>` +
                    `<td class="num">${formatDelim(((coin.quotation_usdt * 100) / 100).toFixed(8))}</td>` +
                    `<td class="rate">${signRate(((coin.variation_on_five_minutes * 100) / 100).toFixed(2))}</td>` +
                    `<td class="rate">${signRate(((coin.variation_on_one_hour * 100) / 100).toFixed(2))}</td>` +
                    `<td class="rate">${signRate(((coin.variation_on_one_day * 100) / 100).toFixed(2))}</td>` +
                    `<td class="rate">${signRate(((coin.variation_on_one_week * 100) / 100).toFixed(2))}</td>`;
            } else {
                html += `<td colspan="6">En attente de valorisation par crypto-updater</td>`
            }
            html += `<td class="rate">${buildAlertIconHtml(coin.symbol.toUpperCase())}</td>` +
                `<td class="action indic-moins"><span onclick="delCrypto('${coin.id}')" title="Enlever de la surveillance">-` +
                `</span></td></tr>`
            $('#cryptos').append(html);
        })
    }

    let sortTable = (sortField) => {
        if (sortField === lastSortField) {
            lastSortDirection = lastSortDirection === "A" ? "D" : "A";
        }
        lastSortField = sortField;
        getDatas();
    }

    let getDatas = () => {
        $('#cryptos').find('tbody tr').remove();
        initAlerts();
        $.ajax(
            {
                url: "/api/evolution-survey?sortField=" + lastSortField + "&sortDirection=" + lastSortDirection,
                method: "GET",
                dataType: "json",
                success: (data) => {
                    fill(data);
                },
                error: (xhr, status, error) => {
                    console.log(error)
                }
            }
        )
    }

    //
    // CRYPTOS
    //

    let availableCryptoShown = false;
    let surveyCryptosList = null;
    let availableCryptosList = null;

    let showMessage = () => {
        $('.message').css('color', 'white');
    }

    let hideMessage = () => {
        $('.message').css('color', 'black');
    }

    let showCryptosPanel = () => {
        $('.alerts').hide();
        $('.evolution').hide();
        $('.cryptos').show();
    }

    let addAvailableCryptosRow = async (row) => {
        let r = `<tr><td id="id">${row.id}</td><td id="symbol">${row.symbol}</td><td id="name">${row.name}</td>` +
            `<td class="action" onclick="addSurveyCrypto(this)">` +
            `<span class="indic-plus" title="Surveiller cette crypto">+</span></td></tr>`
        $('#availableCryptosTable').append(r);
    }

    let removeSurveyCryptosFromAvailableCryptos = async () => {
        for (let i = 0; i < surveyCryptosList.length; i++) {
            let index = getIndexInArray(availableCryptosList, surveyCryptosList[i]);
            availableCryptosList.splice(index, 1);
        }
        return availableCryptosList;
    }

    let buildAvailableCryptos = async () => {
        showMessage();
        $('#availableCryptosTable').find('tbody tr').remove();
        availableCryptosList = await getAvailableCryptos();
        await removeSurveyCryptosFromAvailableCryptos();
        for (let i = 0; i < availableCryptosList.length; i++) {
            await addAvailableCryptosRow(availableCryptosList[i]);
        }
        if ($('#criteria').val() !== "") {
            doFilter();
        }
        hideMessage();
    }

    let addSurveyCrypto = (o) => {
        let children = o.closest("tr").children;
        let crypto = {"id": children[0].innerText, "symbol": children[1].innerText, "name": children[2].innerText}
        addToCollection(JSON.stringify(crypto)).then((data) => {
            getDatas();
            alert(`Crypto ${crypto.name} surveillée`)
        })

    }

    let addToCollection = (crypto) => {
        return $.ajax({
            type: "POST",
            url: "/api/add-to-cryptos-survey",
            contentType: "application/json; charset=utf-8",
            data: crypto
        })
    }

    let getAvailableCryptos = async () => {
        return $.ajax({
            type: "GET",
            url: "/api/get-available-cryptos",
            contentType: "application/json; charset=utf-8"
        })
    }

    let addCrypto = () => {
        showCryptosPanel();
        buildAvailableCryptos().then(() => {
            hideMessage();
        })
    }

    let delCrypto = (id) => {
        $.ajax({
            type: "DELETE",
            url: `/api/delete-crypto-survey?id=${id}`,
            contentType: "application/json; charset=utf-8"
        }).then((res) => {
            getDatas();
        })
    }

    let findInFields = (criteria, child) => {
        let from = `${child[0].textContent} ${child[1].textContent} ${child[2].textContent}`;
        return from.toLowerCase().indexOf(criteria.toLowerCase()) < 0;
    }

    let doFilter = (type) => {
        let criteria = $('#criteria').val();
        $('#availableCryptosTable').find('tbody').find('tr').each((r, raw) => {
            if (type === "all") {
                raw.hidden = findInFields(criteria, raw.children) === true;
            } else {
                raw.hidden = raw.children[1].textContent.toLowerCase().indexOf(criteria.toLowerCase()) < 0;
            }
        })
    }

    let resetFilter = () => {
        $('#availableCryptosTable').find('tbody').find('tr').each((r, raw) => {
            raw.hidden = false;
        })
        $('#criteria').val("");
    }

    //
    // GLOBAL
    //

    let reload = () => {
        getDatas();
        setDate();
    }

    let refresh = "<%= refresh %>";

    let init = () => {
        reload();
        setInterval(reload, parseInt(refresh) * 1000);
        return 1;
    }

    includeHTML("h-survey").then(() => {
        handleDarkMode(document.getElementById('darkmode'));
    });


    $(() => {
        init()
    })
</script>

</html>

