<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cryptos</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/cryptos.css'/>
</head>
<body>

<form id="form">
    <div id="container" class="container">
        <div w3-include-html="/html/en/header.html"></div>
        <div class="message">
            <span id="message">Load of cryptos in progress...</span>
        </div>
        <div class="filter cond">
            <input class="input" type="text" id="criteria" placeholder="Filter">
            <button type="button" class="button button-filter" onclick="doFilter('all');">Filter all</button>
            <button type="button" class="button button-filter" onclick="doFilter('symbol');">Symbol filter</button>
            <button type="button" class="button button-filter" onclick="resetFilter();">Remove filter
            </button>
        </div>
        <div class="subcontainer">
            <div id="myCryptos">
                <div class="title-table"><span>My cryptos</span></div>
                <table id="myCryptosTable" class="styled-table">
                    <thead>
                    <th>Id</th>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th></th>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="button-box">
                    <input class="button" type="button" onclick="changeButtonList(this);return false;"
                           name="buttonList" id="buttonList" value="Show available cryptos">
                    <input class="button" type="button" onclick="showNotListed(this);return false;"
                           name="buttonNotListed" id="buttonNotListed" value="Crypto not yet listed">
                </div>
                <div id="icoCryptos" class="ico-crypto-container">
                    <table class="ico-table">
                        <tbody>
                        <tr>
                            <td><span class="ico-label">Symbol</span></td>
                            <td><input name="symbol" id="symbol"></td>
                        </tr>
                        <tr>
                            <td><span class="ico-label">Name (temporary)</span></td>
                            <td><input name="name" id="name"></td>
                        </tr>
                        <tr>
                            <td><span class="ico-label">Network</span></td>
                            <td>
                                <select name="network" id="network">
                                    <option value="">Choisir</option>
                                    <% networks.forEach( function (network) { %>
                                        <option value="<%= network.id %>">
                                            <%= network.name %>
                                        </option>
                                    <% }); %>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="ico-label">Token address</span></td>
                            <td><input name="address" id="address" class="address"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="button-box">
                        <input class="button" type="button" onclick="cancelIco(this);return false;"
                               name="cancelIcoButton" id="cancelIcoButton" value="Cancel">
                        <input class="button" type="button" onclick="addNotListed(this);return false;"
                               name="buttonAddNotListed" id="buttonAddNotListed" value="Add">
                    </div>

                </div>
            </div>
            <div id="availableCryptos" class="bloc available-cryptos-container">
                <div class="title-table"><span>Cryptos available</span></div>
                <div class="bloc">
                    <table id="availableCryptosTable" class="styled-table ctable">
                        <thead>
                        <th></th>
                        <th>Id</th>
                        <th>Symbol</th>
                        <th>Name</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</form>

<script src="/javascripts/cryptos.js"></script>

<script>

    let titleMinusAdd = "Remove from my cryptos";
    let titleAvailableAdd = "Add to my cryptos";
    let titleButtonShow = "Show available cryptos";
    let titleButtonHide = "Hide available cryptos";
    let wordAdd = "added"
    let wordDel = "removed"
    let errorAdd = "Error. Item does not exists in availableCryptos"
    let errorDel = "Error. Item already exists in availableCryptos"
    let msgFieldsRequired = "Symbol and name are required";

    $(() => {
        init()
    })

</script>
</body>
</html>