<!DOCTYPE html>

<html lang="fr">
<head>
    <title>Transactions tracking</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/all.min.css'/>
    <link rel='stylesheet' href='/stylesheets/follow-transactions.css'/>
</head>

<body>

<form>

    <div class="container">

        <div w3-include-html="/html/en/header.html"></div>

        <div class="fields">
            <label for="token">Token</label>
            <select class="field" type="text" name="token" id="token">
                <option value="">All</option>
            </select>
            <label for="wallet">Wallet</label>
            <select class="field" type="text" name="wallet" id="wallet">
                <option value="">All</option>
            </select>
            <label for="action">Action</label>
            <select class="field" type="text" name="action" id="action">
                <option value="">Tous</option>
                <option value="purchase">Purchase</option>
                <option value="sale">Sale</option>
                <option value="swap">Swap</option>
                <option value="send">Send</option>
            </select>
            <div class="button-box title">
                <input class="button" type="button" name="reset" id="reset" value="Remove filters">
            </div>
            <div class="button-box title pl">
                <input class="button" type="button" name="downloadCsv" id="downloadCsv" value="Export CSV">
            </div>
            <div class="button-box title pl">
                <input class="button" type="button" name="downloadJson" id="downloadJson" value="Export JSON">
            </div>
        </div>

        <table id="transactions" class="styled-table">
            <thead>
            <th style="display:none"></th>
            <th id="headerCol" class="title-left clickable">Transactions</th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</form>

</body>

<script src="/javascripts/follow-transactions.js"></script>

<script type="text/javascript">

    let returnedSortDirection = "<%= sortDirection %>";
    let returnedToken = "<%= token %>";
    let returnedWallet = "<%= wallet %>";
    let titleFill1 = "Remove this transaction";
    let titleFill2 = "Modify this transaction";
    let titleFill3 = "Show in blockchain";
    let delTranMsg = "Confirm transaction suppression";

    $(() => {
        init()
    });

</script>

</html>

