<!DOCTYPE html>

<html lang="fr">
<head>
    <title>Evolution</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/all.min.css'/>
    <link rel='stylesheet' href='/stylesheets/survey.css'/>
</head>

<body>

<div class="container">

    <div w3-include-html="/html/en/header.html"></div>

    <div class="sub-container evolution">
        <div class="title">
            <span class="title-text" id="date"></span>
        </div>

        <table id="cryptos" class="styled-table">
            <thead>
            <th class="title-left clickable" onclick="sortTable('id')">Id</th>
            <th class="title-left clickable" onclick="sortTable('symbol')">Symbol</th>
            <th class="title-left clickable" onclick="sortTable('name')">Name</th>
            <th class="num clickable" onclick="sortTable('quotation\n')">Price <%= fiat_symbol %></th>
            <th class="num clickable" onclick="sortTable('quotation_usdt\n')">Price USDT</th>
            <th class="clickable" onclick="sortTable('variation_on_five_minutes')">Evol./5mn</th>
            <th class="clickable" onclick="sortTable('variation_on_one_hour')">Evol./1H</th>
            <th class="clickable" onclick="sortTable('variation_on_one_day')">Evol./24H</th>
            <th class="clickable" onclick="sortTable('variation_on_one_week')">Evol./week</th>
            <th class="clickable generalAlert"></th>
            <th class="clickable" title="Add cryptos to survey"><span onclick="addCrypto()">+</span></th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="sub-container cont-border alerts">
        <div class="title-alerts one_token">Alert for the token <span id="alert_token"></span></div>
        <div class="title-alerts all_token">Alert for all tokens</div>
        <div class="text">
            <span>Send an alert if the token price changes :</span>
        </div>
        <div class="input">
            exceeded <input class="percent" type="number" id="alert_gt_5mn">% or lost<input
                    class="percent" type="number" id="alert_lt_5mn">% in 5 minutes.
        </div>
        <div class="input">
            exceeded <input class="percent" type="number" id="alert_gt_1h">% or lost<input
                    class="percent" type="number" id="alert_lt_1h">% in 1 hour.
        </div>
        <div class="input">
            exceeded <input class="percent" type="number" id="alert_gt_24h">% or lost<input
                    class="percent" type="number" id="alert_lt_24h">% in 1 day.
        </div>
        <div class="input">
            exceeded <input class="percent" type="number" id="alert_gt_1w">% ou or lost<input
                    class="percent" type="number" id="alert_lt_1w">% in 1 week.
        </div>
        <div class="text-mini">
            <span><i>Leave fields not to be taken into account blank</i></span>
        </div>
        <div class="button-bloc">
            <div>
                <input type="button" class="button" id="alertDel" onclick="delAlert();return false;" value="Remove">
            </div>
            <div>
                <input type="button" class="button" id="alertCancel" onclick="cancelAlert();return false;"
                       value="Cancel">
            </div>
            <div>
                <input type="button" class="button" id="alertAdd" onclick="addOrUpdateAlert();return false;"
                       value="Save">
            </div>
        </div>
        <div class="text-mini">
            An alert on a particular token takes precedence over a global alert.
        </div>
    </div>

    <div class="container cryptos">
        <div class="message">
            <span id="message">Load of cryptos in progress...</span>
        </div>
        <div class="filter cond">
            <input class="input-filter" type="text" id="criteria" placeholder="Filtre">
            <button type="button" class="button button-filter" onclick="doFilter('all');">Filter all</button>
            <button type="button" class="button button-filter" onclick="doFilter('symbol');">Symbol filter</button>
            <button type="button" class="button button-filter" onclick="resetFilter();">Remove filter</button>
            <button type="button" class="button button-filter" onclick="closeCryptos();">Close</button>
        </div>
        <div class="subcontainer">
            <div id="availableCryptos" class="bloc cond">
                <div class="title-table"><span>Select new cryptos to survey</span></div>
                <div class="bloc">
                    <table id="availableCryptosTable" class="styled-table ctable">
                        <thead>
                        <th>Id</th>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th></th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/javascripts/survey.js"></script>

<script type="text/javascript">

    let ds = "<%= decimal_separator %>";
    let refresh = "<%= refresh %>";
    let titleGenAlert = "View or change global alert";
    let titleBuildAlert1 = "View or change alert on";
    let titleBuildAlert2 = "Put an alert on";
    let msgFill = "Waiting for crypto-updater valuation";
    let titleFill = "Remove survey";
    let msgAddAvailable = "Monitor this crypto";
    let wordSurvey = "monitored";

    let setDate = () => {
        document.getElementById('date').innerHTML = getFormattedDate('en-EN');
    }

    $(() => {
        init()
    })

</script>

</html>

