<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Wallets</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/wallets.css'/>
</head>
<body>

<form id="form">

    <div id="container" class="container">

        <div w3-include-html="/html/en/header.html"></div>

        <div class="subcontainer">

            <div id="mywallets">
                <table id="mywalletsTable" class="styled-table">
                    <thead>
                    <th>Name</th>
                    <th>Icon</th>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="button-box">
                    <input class="button" type="button" id="buttonInput" value="Add a wallet">
                </div>
            </div>

            <div id="newWallet" class="form">
                <label for="walletName">Wallet name</label>
                <input class="input" type="text" id="walletName">
                <div class="label-top form">
                    <label for="walletIcon">Load an icon</label>
                    <input type="file" id="walletIcon" accept="image/png"/>
                </div>
                <button type="button" class="button" id="buttonAdd">Add</button>

            </div>

            <div>
                <span id="message"></span>
            </div>
        </div>
    </div>
</form>

<script src="/javascripts/wallets.js"></script>

<script>

    let msgAlert = "Please choose a wallet name and an icon in PNG format";

    $(() => {
        init()
    })

</script>
</body>
</html>