.title-left {
    text-align: left
}

.fields {
    display: flex;
    margin: 10px 20px;
    align-content: center;
    align-items: center;
}

.field {
    flex: 1;
    margin: 20px 20px;
    align-content: center;
    align-items: center;
}

.title {
    flex: 1;
}

tr:hover {
    background-color: antiquewhite;
}

.styled-table th, .styled-table td {
    padding: 4px 5px !important;
}

#download {
    margin-left: 15px;
}
