.container {
    width: 100%;
    min-width: 600px;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 600px;
}

.col2 {
    margin-left: 30px;
}

.num {
    text-align: right;
}

.total {
    font-weight: bold;
    font-style: italic;
}

#balance {
    font-size: 18px !important;
}

.title {
    font-size: 14px;
}

.icon {
    margin-right: 5px !important;
}

.minspace td {
    padding: 5px;
}

.minus {
    color: red;
}

.plus {
    color: green
}

.styled-table tbody tr {
    height: 36px;
}