.container {
    width: 100%;
    min-width: 600px;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 600px;
}

.col2 {
    margin-left: 30px;
}
.num {
    text-align: right;
}
.total {
    font-weight: bold;
    font-style: italic;
}
.title {
    font-size: 18px;
}
.icon {
    margin-right: 5px !important;
}

.minspace td {
    padding: 5px;
}