.subcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.input {
    margin-left: 30px;
    height: 20px;
}

.label-top {
    flex-direction: column;
}

.form {
    margin-top: 30px;
}

tr td:nth-of-type(2), tr th:nth-of-type(2) {
    text-align: center;
}